# -----------------------
# Description:
# Define script path
# -----------------------

# Script of ModSecurity (libmodsecurity)
local modsec_install_script="/opt/nginx_scripts/waf_01_libmodsecurity_install.sh"

# Script of ModSecurity Nginx Connector
local connector_install_script="/opt/nginx_scripts/waf_02_nginx_connector_install.sh"

# Script of OWASP CRS
local owasp_install_script="/opt/nginx_scripts/waf_03_owasp_install.sh"


# -----------------------------
# Fail2ban setting
# -----------------------------
# Enabled usage:
#   enabled: true | false
#
# Port setting: choose which port to be banned if error found
#   Leverage firewalld daemon , so use predefined info in firewalld /usr/lib/firewalld/services
#     port   : http | https | ssh | http,https
#   Customized config
#     port   : 2222 | 3333 | 2222,3333

# ############
#   nginx-waf
# ############
local ng_waf_enabled="true"
local ng_waf_port="http,https"
local ng_waf_logpaths='/var/log/nginx/*.error.log'

