# ***************************************************
# Server type                                       *
# * Rails:                                          *
#   [ssl-sample-rails.conf]                         *
# * PHP / Laravel:                                  *
#   [ssl-sample-php.conf]                           *
# ***************************************************
#local sample_config_file="ssl-sample-php.conf"
local sample_config_file="ssl-sample-rails.conf"

# ***************************************************
# * change your domain name here                    *
# ***************************************************
#local server_name="mylaravel.centos7.localdomain"
#local web_root="/home/mylaravel/public"
local server_name="myrails.centos7.localdomain"
local web_root="/home/myrails/public"

